.mypage-row{
    padding : 2%;
}
@media (max-width: 991px) {
    .mypage-row{
        padding-left : 5%;
    }
}
.mypage-change-form{
    padding-bottom: 2%;
}

.post-scroll {
    border : 1px solid black;
    height : 20%;
    overflow-x : scroll;
    overflow-y : hidden;
    white-space: nowrap;
    margin-right : 2%;
}
.mypage-setting {
    margin-top : 1%;
    margin-bottom : 1%;
}