.mypage-row{
    width : 80%;
    background-color: white;
    padding : 2%;
}
.mypage-change-form{
    padding-bottom: 2%;
}

.post-scroll {
    border : 1px solid black;
    height : 20%;
    overflow : scroll;
    white-space: nowrap;
}