#post-container{
    width : 80%;
    background-color : white;
}
#post-image{
    margin: auto;
    display: block;
    padding : 1%;
}
#comment-form{
    padding : 1%;
}
#comment-input{
    width: 68vw;
}
.comment{
    display: flex;
    flex-direction: column;
    padding: 1%;
}
.comment li {
  width: 100%;
}

.comment-patch-input{
    width : 100%;
    height : auto;
}
