.main-content {
    width: 80%;
    display: flex;
    background-color: white;
}

.captured-image {
    width: 100%;
}
#buttons {
    display: flex;
}
#capture-button {
    flex : 1;
}
#upload-button {
    flex : 9;
}
#video {
    width : 60%;
    height : 40%;
}

#upload-left {
    flex : 4;
    text-align: center;
}

#upload-right {
    flex : 1;
    text-align: center;
}

#sticky-list {
    border: 1px solid green;
    height: 20%;
}
#captured-list {
    height : 85vh;
    overflow : scroll;
}