.main-content {
    width: 80%;
    height : 50%;
    display: flex;
    background-color: white;
}

#upload-left {
    border: 1px solid blue;
    flex : 4
}

#upload-right {
    border: 1px solid blue;
    flex : 1
}

#sticky-list {
    border: 1px solid green;
    height: 20%;
}
#captured-list {
    border : 1px solid red;
    height : 80%
}